<div class="jumbotron">
<h1>Welcome to my site</h1>
<p>This is going to kick ass!</p>
<%= link_to 'About us', home_about_path, class: 'btn btn-default' %>
<%= link_to 'Home', root_path, class: 'btn btn-primary' %>

</div><!-- end of .jumbotron -->

